﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Создатель: Нестеренко Андрей Андреевич <a href="https://t.me/ikinai" target="_blank">aka "Ikinai"</a><br>19-ое домашнее задание для Skillbox</p>